<div class="register-container">
  <form class="example-form">
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Car Number</mat-label>
        <input
          type="number"
          matInput
          [formControl]="carNumberControl"
          placeholder="12-345-67"
          minlength="7"
        />

        <mat-error *ngIf="carNumberControl.hasError('minLength')">
          Please enter a valid car Number
        </mat-error>
        <mat-error *ngIf="carNumberControl.hasError('required')">
          Car Number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input
          type="tel"
          matInput
          [formControl]="phoneNumberControl"
          placeholder="0543-111-111"
          minlength="10"
        />

        <mat-error *ngIf="phoneNumberControl.hasError('minLength')">
          Please enter a valid Phone Number
        </mat-error>
        <mat-error *ngIf="phoneNumberControl.hasError('required')">
          Car number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <br />
    <div>
      <button
        mat-raised-button
        color="primary"
        [disabled]="
          phoneNumberControl.status === 'INVALID' ||
          carNumberControl.status === 'INVALID'
        "
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
